<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask</title>
  </head>
  <body>
    <form action="/" method="POST">
      <table>
        <tr>
          <td><label>Enter Total No Of hours You Study :</label></td>
          <td><input type="number" name="hrs" ></td>
          <td><button type="submit">predict score</button></td>
        </tr>
      </table>
    </form>
    <h1>your score is  {{n[0][0]}} </h1>
  </body>
</html>
